/* body {
   
    background-size: cover;
    height: 100vh;
  } */
  .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #499D3A;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
 

  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

  .buttonPopup{
    background-color: #499D3A;
     border-radius: 5px;
     border: none;
    margin-right: 25px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
  }


  .payment-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
    margin-top: 100px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px ;
    overflow:hidden;
   
  }

  .payment-text{
    text-align: center;
    color:green
  }

  .payment-text1{
    text-align: center;
  
  }

  .textFeild{
    width:70%;
    padding:10px;
    margin-bottom: 20px;
  }
  
  .price {
    color: grey;
    font-size: 50px;
  }
  
   .paymentButton {
    border: none;
    outline: 0;
    padding: 12px;
    color: white;
    background-color: #499D3A;
    text-align: center;
    cursor: pointer;
    width: 70%;
    margin-top: 20px;
    font-size: 18px;
  } 
  
  
  .buttonPayment{
      background-color: #499D3A;
      border-radius: 20px;
      color: #FFFFFF;
      text-decoration: none;
      margin-right: 25px; 
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none !important;
      display: inline-block;
      font-size: 10px;
      margin: 4px 2px;
      border-radius: 20px !important;
      cursor: pointer;
      width: 70% !important;
      
    
  }